server:
  port: 8081

#spring:
#  datasource:
#    username: root
#    password: "1767737316."
#    url: jdbc:mysql://localhost:3306/lottery?useUnicode=true  #&serverTimezone=Asia/Shanghai
#    driver-class-name: com.mysql.cj.jdbc.Driver


mini-db-router:
  jdbc:
    datasource:
      dbCount: 2
      tbCount: 4
      default: db00
      routerKey: UId
      list: db01,db02
      db00:
        driver-class-name: com.mysql.cj.jdbc.Driver
        url: jdbc:mysql://localhost:3306/lottery?useUnicode=true
        username: root
        password: "1767737316."
      db01:
        driver-class-name: com.mysql.cj.jdbc.Driver
        url: jdbc:mysql://localhost:3306/lottery_01?useUnicode=true
        username: root
        password: "1767737316."
      db02:
        driver-class-name: com.mysql.cj.jdbc.Driver
        url: jdbc:mysql://localhost:3306/lottery_02?useUnicode=true
        username: root
        password: "1767737316."


mybatis:
  mapper-locations: classpath:/mybatis/mapper/*.xml
  config-location:  classpath:/mybatis/config/mybatis-config.xml

# Dubbo 广播方式配置
dubbo:
  application:
    name: Lottery
    version: 1.0.0
  registry:
    address: N/A # multicast://224.5.6.7:1234
  protocol:
    name: dubbo
    port: 20880
  provider:
    timeout: 50000
  scan:
    base-packages: wang.coisini.lottery.rpc